brand_mentions_tracker_n8n.json
{
  "name": "Brand Mentions Tracker",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "brand-mentions",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 400],
      "webhookId": "brand-mentions-webhook"
    },
    {
      "parameters": {
        "jsCode": "const brandName = $input.first().json.body.brand_name;\nconst brandUrl = $input.first().json.body.brand_url || '';\n\nif (!brandName || brandName.trim() === '') {\n  throw new Error('brand_name is required');\n}\n\nlet domain = '';\ntry {\n  if (brandUrl) {\n    domain = new URL(brandUrl).hostname.replace('www.', '');\n  }\n} catch(e) {}\n\n// ── EXPANDED QUERY GENERATION ──\nconst queries = [\n  `\"${brandName}\"`,\n  `\"${brandName}\" review OR reviews`,\n  `\"${brandName}\" experience OR opinion OR feedback`,\n  `\"${brandName}\" complaints OR problems OR issues`,\n  `\"${brandName}\" recommendation OR recommend`,\n  `\"${brandName}\" customer service OR support`,\n  `\"${brandName}\" quality OR reliable OR worth`,\n  `\"${brandName}\" alternative OR compared OR vs`,\n  `\"${brandName}\" scam OR fraud OR fake OR legit`,\n  `\"${brandName}\" love OR hate OR amazing OR terrible`,\n  `\"${brandName}\" 2025 OR 2026 review`,\n  `\"${brandName}\" latest OR update OR new`,\n  `\"${brandName}\" site:reddit.com`,\n  `\"${brandName}\" site:reddit.com review OR experience`,\n  `\"${brandName}\" site:linkedin.com`,\n  `\"${brandName}\" site:twitter.com OR site:x.com`,\n  `\"${brandName}\" site:trustpilot.com`,\n  `\"${brandName}\" site:g2.com OR site:capterra.com`,\n  `\"${brandName}\" site:medium.com OR site:substack.com`,\n  `\"${brandName}\" site:quora.com`,\n  `\"${brandName}\" site:youtube.com`,\n  `\"${brandName}\" site:facebook.com`,\n  `\"${brandName}\" site:producthunt.com OR site:news.ycombinator.com`,\n  `\"${brandName}\" rating OR rated OR stars`,\n  `\"${brandName}\" pros cons`,\n  `\"${brandName}\" honest review`,\n  `\"${brandName}\" pricing OR price OR cost`,\n];\n\nif (domain) {\n  queries.push(\n    `\"${brandName}\" ${domain}`,\n    `site:${domain}`,\n    `\"${brandName}\" -site:${domain} review`\n  );\n}\n\nreturn queries.map(q => ({ json: { query: q, brand_name: brandName, brand_url: brandUrl, domain: domain } }));"
      },
      "id": "generate-queries",
      "name": "Generate Search Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [250, 400]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "loop-queries",
      "name": "Loop Over Queries",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [500, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-API-KEY", "value": "YOUR_SERPER_API_KEY" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ q: $json.query, num: 40 }) }}",
        "options": { "timeout": 15000 }
      },
      "id": "serper-search",
      "name": "Serper Google Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [750, 400],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const results = [];\nconst data = $input.first().json;\nconst brandName = $('Loop Over Queries').first().json.brand_name;\n\nif (data.organic) {\n  for (const item of data.organic) {\n    results.push({\n      title: item.title || '',\n      link: item.link || '',\n      snippet: item.snippet || '',\n      source: 'google',\n      brand_name: brandName,\n      date: item.date || null,\n      upvotes: null, num_comments: null, subreddit: null\n    });\n  }\n}\n\nif (data.peopleAlsoAsk) {\n  for (const item of data.peopleAlsoAsk) {\n    if (item.link) {\n      results.push({\n        title: item.question || '',\n        link: item.link || '',\n        snippet: item.snippet || '',\n        source: 'google_paa',\n        brand_name: brandName,\n        date: null, upvotes: null, num_comments: null, subreddit: null\n      });\n    }\n  }\n}\n\nif (data.news) {\n  for (const item of data.news) {\n    results.push({\n      title: item.title || '',\n      link: item.link || '',\n      snippet: item.snippet || item.title || '',\n      source: 'google_news',\n      brand_name: brandName,\n      date: item.date || null,\n      upvotes: null, num_comments: null, subreddit: null\n    });\n  }\n}\n\nif (results.length === 0) {\n  return [{ json: { _empty: true, brand_name: brandName } }];\n}\n\nreturn results.map(r => ({ json: r }));"
      },
      "id": "extract-google",
      "name": "Extract Google Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 400]
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\nconst filtered = allItems.filter(item => !item.json._empty);\nconst brandName = allItems[0]?.json?.brand_name || '';\n\nif (filtered.length === 0) {\n  return [{ json: { brand_name: brandName, _no_results: true } }];\n}\n\nreturn filtered;"
      },
      "id": "collect-google",
      "name": "Collect Google Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\nconst brandName = allItems[0]?.json?.brand_name || '';\nconst googleResults = allItems.filter(i => !i.json._no_results).map(i => i.json);\n\nreturn [{ json: { brand_name: brandName, google_results: googleResults } }];"
      },
      "id": "prep-reddit",
      "name": "Prep for Reddit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 400]
    },
    {
      "parameters": {
        "jsCode": "// ── MULTI-REDDIT SEARCH ──\nconst brandName = $json.brand_name;\nconst googleResults = $json.google_results || [];\n\nconst searches = [\n  { sort: 'relevance', t: 'all', limit: 100 },\n  { sort: 'new', t: 'year', limit: 100 },\n  { sort: 'top', t: 'year', limit: 100 },\n  { sort: 'comments', t: 'year', limit: 100 },\n];\n\nconst allReddit = [];\nconst headers = { 'User-Agent': 'BrandMentionsTracker/2.0 (by /u/wordofwow)' };\n\nfor (const s of searches) {\n  try {\n    const url = `https://www.reddit.com/search.json?q=${encodeURIComponent('\"' + brandName + '\"')}&sort=${s.sort}&limit=${s.limit}&t=${s.t}`;\n    const resp = await fetch(url, { headers, signal: AbortSignal.timeout(12000) });\n    if (resp.ok) {\n      const data = await resp.json();\n      if (data?.data?.children) {\n        for (const child of data.data.children) {\n          const post = child.data;\n          if (!post) continue;\n          allReddit.push({\n            title: post.title || '',\n            link: 'https://www.reddit.com' + (post.permalink || ''),\n            snippet: (post.selftext || '').substring(0, 300),\n            source: 'reddit',\n            brand_name: brandName,\n            subreddit: post.subreddit || '',\n            upvotes: post.ups || 0,\n            num_comments: post.num_comments || 0,\n            date: post.created_utc ? new Date(post.created_utc * 1000).toISOString().split('T')[0] : null\n          });\n        }\n      }\n    }\n    await new Promise(r => setTimeout(r, 1200));\n  } catch(e) {}\n}\n\nreturn [{ json: { brand_name: brandName, google_results: googleResults, reddit_results: allReddit } }];"
      },
      "id": "reddit-multi-search",
      "name": "Reddit Multi Search",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1750, 400]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst brandName = item.brand_name;\nconst googleResults = item.google_results || [];\nconst redditResults = item.reddit_results || [];\n\nconst allRaw = [...googleResults, ...redditResults];\n\nif (allRaw.length === 0) {\n  return [{ json: { brand_name: brandName, total_mentions: 0, all_mentions: [], top_mentions: [], platform_breakdown: {}, sentiment_breakdown: { Positive: { count: 0, percentage: 0 }, Negative: { count: 0, percentage: 0 }, Neutral: { count: 0, percentage: 0 } }, sentiment_by_platform: {}, wow_insights: { likes: [], complaints: [], suggestions: [] } } }];\n}\n\n// Dedup by URL\nconst seen = new Set();\nconst cleaned = [];\nfor (const m of allRaw) {\n  if (!m.link) continue;\n  const norm = m.link.toLowerCase().replace(/\\/$/, '').replace(/^https?:\\/\\//, '').replace(/^www\\./, '').replace(/[?#].*$/, '');\n  if (seen.has(norm)) continue;\n  if (!m.title && !m.snippet) continue;\n  seen.add(norm);\n  cleaned.push(m);\n}\n\n// Platform detection\nconst rules = [\n  [/reddit\\.com/i, 'Reddit'], [/linkedin\\.com/i, 'LinkedIn'],\n  [/twitter\\.com|x\\.com/i, 'Twitter/X'], [/medium\\.com/i, 'Blog (Medium)'],\n  [/quora\\.com/i, 'Quora'], [/trustpilot\\.com/i, 'Trustpilot'],\n  [/g2\\.com/i, 'G2'], [/capterra\\.com/i, 'Capterra'],\n  [/youtube\\.com|youtu\\.be/i, 'YouTube'], [/facebook\\.com/i, 'Facebook'],\n  [/instagram\\.com/i, 'Instagram'], [/github\\.com/i, 'GitHub'],\n  [/glassdoor\\.com/i, 'Glassdoor'], [/producthunt\\.com/i, 'Product Hunt'],\n  [/news\\.ycombinator/i, 'Hacker News'], [/tiktok\\.com/i, 'TikTok'],\n  [/yelp\\.com/i, 'Yelp'], [/amazon\\.com/i, 'Amazon'],\n  [/bbb\\.org/i, 'BBB'], [/sitejabber\\.com/i, 'Sitejabber'],\n  [/forbes|techcrunch|bbc\\.|nytimes|bloomberg|reuters|cnbc|wsj|theverge|wired|mashable|engadget/i, 'News'],\n  [/wordpress|blogspot|\\.blog|substack/i, 'Blog'],\n];\n\nconst withPlatform = cleaned.map(m => {\n  let platform = 'Other';\n  for (const [pattern, name] of rules) {\n    if (pattern.test(m.link)) { platform = name; break; }\n  }\n  return { ...m, platform, sentiment: 'Neutral' };\n});\n\n// Basic sentiment + platform breakdown (server will re-classify more accurately)\nconst total = withPlatform.length;\nconst platCounts = {};\nfor (const m of withPlatform) platCounts[m.platform] = (platCounts[m.platform] || 0) + 1;\nconst platform_breakdown = {};\nfor (const [k, v] of Object.entries(platCounts)) {\n  platform_breakdown[k] = { count: v, percentage: total > 0 ? Math.round((v / total) * 10000) / 100 : 0 };\n}\n\nconst top_mentions = withPlatform.slice(0, 10).map(m => ({\n  title: m.title, link: m.link, platform: m.platform, sentiment: m.sentiment,\n  snippet: (m.snippet || '').substring(0, 200),\n  upvotes: m.upvotes || null, num_comments: m.num_comments || null,\n  subreddit: m.subreddit || null, date: m.date || null\n}));\n\nreturn [{ json: {\n  brand_name: brandName,\n  tracked_at: new Date().toISOString(),\n  total_mentions: total,\n  platform_breakdown,\n  sentiment_breakdown: { Positive: { count: 0, percentage: 0 }, Negative: { count: 0, percentage: 0 }, Neutral: { count: total, percentage: 100 } },\n  sentiment_by_platform: {},\n  wow_insights: { likes: [], complaints: [], suggestions: [] },\n  top_mentions,\n  all_mentions: withPlatform.map(m => ({\n    title: m.title, link: m.link, platform: m.platform, sentiment: m.sentiment,\n    snippet: (m.snippet || '').substring(0, 300),\n    upvotes: m.upvotes || null, subreddit: m.subreddit || null,\n    date: m.date || null\n  }))\n}}];"
      },
      "id": "aggregate",
      "name": "Aggregate & Build Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Generate Search Queries", "type": "main", "index": 0 }]]
    },
    "Generate Search Queries": {
      "main": [[{ "node": "Loop Over Queries", "type": "main", "index": 0 }]]
    },
    "Loop Over Queries": {
      "main": [
        [{ "node": "Collect Google Results", "type": "main", "index": 0 }],
        [{ "node": "Serper Google Search", "type": "main", "index": 0 }]
      ]
    },
    "Serper Google Search": {
      "main": [[{ "node": "Extract Google Results", "type": "main", "index": 0 }]]
    },
    "Extract Google Results": {
      "main": [[{ "node": "Loop Over Queries", "type": "main", "index": 0 }]]
    },
    "Collect Google Results": {
      "main": [[{ "node": "Prep for Reddit", "type": "main", "index": 0 }]]
    },
    "Prep for Reddit": {
      "main": [[{ "node": "Reddit Multi Search", "type": "main", "index": 0 }]]
    },
    "Reddit Multi Search": {
      "main": [[{ "node": "Aggregate & Build Output", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [{ "name": "Brand Monitoring" }],
  "pinData": {},
  "versionId": "7"
}
