brand_mentions_tracker_n8n.json
{
  "name": "Brand Mentions Tracker",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "brand-mentions",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 400],
      "webhookId": "brand-mentions-webhook"
    },
    {
      "parameters": {
        "jsCode": "const brandName = $input.first().json.body.brand_name;\nconst brandUrl = $input.first().json.body.brand_url || '';\n\nif (!brandName || brandName.trim() === '') {\n  throw new Error('brand_name is required');\n}\n\n// Extract domain from URL for context-aware queries\nlet domain = '';\ntry {\n  if (brandUrl) {\n    domain = new URL(brandUrl).hostname.replace('www.', '');\n  }\n} catch(e) {}\n\nconst queries = [\n  `\"${brandName}\"${domain ? ' ' + domain : ''}`,\n  `\"${brandName}\" review${domain ? ' ' + domain : ''}`,\n  `\"${brandName}\" complaints OR problems`,\n  `\"${brandName}\" experience OR opinions`,\n  `\"${brandName}\" site:reddit.com${domain ? ' ' + domain : ''}`,\n  `\"${brandName}\" site:linkedin.com`,\n  `\"${brandName}\" site:twitter.com OR site:x.com`,\n  `\"${brandName}\" site:trustpilot.com OR site:g2.com`\n];\n\n// If we have a domain, add a domain-specific query\nif (domain) {\n  queries.push(`site:${domain}`);\n}\n\nreturn queries.map(q => ({ json: { query: q, brand_name: brandName, brand_url: brandUrl, domain: domain } }));"
      },
      "id": "generate-queries",
      "name": "Generate Search Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [250, 400]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "loop-queries",
      "name": "Loop Over Queries",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [500, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-API-KEY", "value": "SERPER_API_KEY_HERE" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ q: $json.query, num: 10 }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "serper-search",
      "name": "Serper Google Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [750, 400],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsCode": "const results = [];\nconst data = $input.first().json;\nconst query = $('Loop Over Queries').first().json.query;\nconst brandName = $('Loop Over Queries').first().json.brand_name;\n\nif (data.organic) {\n  for (const item of data.organic) {\n    results.push({\n      title: item.title || '',\n      link: item.link || '',\n      snippet: item.snippet || '',\n      source: 'google',\n      brand_name: brandName,\n      date: item.date || null,\n      upvotes: null, num_comments: null, subreddit: null\n    });\n  }\n}\n\nif (data.peopleAlsoAsk) {\n  for (const item of data.peopleAlsoAsk) {\n    if (item.link) {\n      results.push({\n        title: item.question || '',\n        link: item.link || '',\n        snippet: item.snippet || '',\n        source: 'google_paa',\n        brand_name: brandName,\n        date: null, upvotes: null, num_comments: null, subreddit: null\n      });\n    }\n  }\n}\n\nif (results.length === 0) {\n  return [{ json: { _empty: true, brand_name: brandName } }];\n}\n\nreturn results.map(r => ({ json: r }));"
      },
      "id": "extract-google",
      "name": "Extract Google Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 400]
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\nconst filtered = allItems.filter(item => !item.json._empty);\nconst brandName = allItems[0]?.json?.brand_name || '';\n\nif (filtered.length === 0) {\n  return [{ json: { brand_name: brandName, _no_results: true } }];\n}\n\nreturn filtered;"
      },
      "id": "collect-google",
      "name": "Collect Google Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\nconst brandName = allItems[0]?.json?.brand_name || '';\nconst googleResults = allItems.filter(i => !i.json._no_results).map(i => i.json);\n\nreturn [{ json: { brand_name: brandName, google_results: googleResults } }];"
      },
      "id": "prep-reddit",
      "name": "Prep for Reddit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://www.reddit.com/search.json?q={{ encodeURIComponent($json.brand_name) }}&sort=relevance&limit=50&t=year",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "User-Agent", "value": "BrandMentionsTracker/1.0" }
          ]
        },
        "options": { "timeout": 15000 }
      },
      "id": "reddit-search",
      "name": "Reddit Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1750, 400],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const redditData = $input.first().json;\nconst googleResults = $('Prep for Reddit').first().json.google_results || [];\nconst brandName = $('Prep for Reddit').first().json.brand_name;\n\nconst redditResults = [];\ntry {\n  if (redditData && redditData.data && redditData.data.children) {\n    for (const child of redditData.data.children) {\n      const post = child.data;\n      if (!post) continue;\n      redditResults.push({\n        title: post.title || '',\n        link: 'https://www.reddit.com' + (post.permalink || ''),\n        snippet: (post.selftext || '').substring(0, 300),\n        source: 'reddit',\n        brand_name: brandName,\n        subreddit: post.subreddit || '',\n        upvotes: post.ups || 0,\n        num_comments: post.num_comments || 0,\n        date: post.created_utc ? new Date(post.created_utc * 1000).toISOString().split('T')[0] : null\n      });\n    }\n  }\n} catch(e) {}\n\nconst allRaw = [...googleResults, ...redditResults];\n\nif (allRaw.length === 0) {\n  return [{ json: { brand_name: brandName, error: 'No mentions found' } }];\n}\n\n// Dedup\nconst seen = new Set();\nconst cleaned = [];\nfor (const m of allRaw) {\n  if (!m.link) continue;\n  const norm = m.link.toLowerCase().replace(/\\/$/, '').replace(/^https?:\\/\\//, '').replace(/^www\\./, '');\n  if (seen.has(norm)) continue;\n  if (!m.title && !m.snippet) continue;\n  seen.add(norm);\n  cleaned.push(m);\n}\n\n// Platform detection\nconst rules = [\n  [/reddit\\.com/i, 'Reddit'], [/linkedin\\.com/i, 'LinkedIn'],\n  [/twitter\\.com|x\\.com/i, 'Twitter/X'], [/medium\\.com/i, 'Blog (Medium)'],\n  [/quora\\.com/i, 'Quora'], [/trustpilot\\.com/i, 'Trustpilot'],\n  [/g2\\.com/i, 'G2'], [/youtube\\.com|youtu\\.be/i, 'YouTube'],\n  [/facebook\\.com/i, 'Facebook'], [/instagram\\.com/i, 'Instagram'],\n  [/github\\.com/i, 'GitHub'], [/glassdoor\\.com/i, 'Glassdoor'],\n  [/producthunt\\.com/i, 'Product Hunt'], [/news\\.ycombinator/i, 'Hacker News'],\n  [/forbes|techcrunch|bbc\\.|nytimes|bloomberg/i, 'News'],\n  [/wordpress|blogspot|\\.blog/i, 'Blog']\n];\n\nconst withPlatform = cleaned.map(m => {\n  let platform = 'Other';\n  for (const [pattern, name] of rules) {\n    if (pattern.test(m.link)) { platform = name; break; }\n  }\n  return { ...m, platform };\n});\n\nreturn [{ json: { brand_name: brandName, mentions: withPlatform } }];"
      },
      "id": "merge-dedup",
      "name": "Merge, Dedup & Platforms",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 400]
    },
    {
      "parameters": {
        "jsCode": "// Build a SINGLE batched prompt for RELEVANCE + SENTIMENT — 1 API call\nconst item = $input.first().json;\nconst brandName = item.brand_name;\nconst mentions = item.mentions || [];\n\n// Get domain context from original queries\nconst domain = $('Generate Search Queries').first().json.domain || '';\nconst brandUrl = $('Generate Search Queries').first().json.brand_url || '';\n\nconst mentionList = mentions.map((m, i) => {\n  const text = (m.title + ' ' + (m.snippet || '')).substring(0, 150);\n  return `${i + 1}. ${text}`;\n}).join('\\n');\n\nlet brandContext = `Brand: ${brandName}`;\nif (domain) brandContext += ` (website: ${domain})`;\nif (brandUrl) brandContext += ` — ${brandUrl}`;\n\nconst prompt = `For each numbered mention below, determine:\n1. Is it RELEVANT to the brand/company \"${brandName}\"${domain ? ' (' + domain + ')' : ''}? (not just the literal word)\n2. What is the sentiment?\n\nRespond with a comma-separated list using these 2-letter codes:\nRP = Relevant+Positive, RN = Relevant+Negative, RU = Relevant+Neutral\nIP = Irrelevant+Positive, IN = Irrelevant+Negative, IU = Irrelevant+Neutral\n\n${brandContext}\n\n${mentionList}\n\nRespond with ONLY the comma-separated codes. Example: RP,IU,RN,RP,IN`;\n\nreturn [{ json: {\n  brand_name: brandName,\n  mentions: mentions,\n  prompt: prompt\n}}];"
      },
      "id": "prep-sentiment",
      "name": "Prep Batch Sentiment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2250, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer OPENAI_API_KEY_HERE" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'gpt-4o-mini', messages: [{ role: 'system', content: 'You classify brand mention relevance and sentiment. Respond ONLY with comma-separated 2-letter codes: RP, RN, RU, IP, IN, IU. No other text.' }, { role: 'user', content: $json.prompt }], max_tokens: 400, temperature: 0 }) }}",
        "options": { "timeout": 30000 }
      },
      "id": "openai-batch",
      "name": "OpenAI Batch Sentiment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2500, 400],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const openaiResponse = $input.first().json;\nconst prevData = $('Prep Batch Sentiment').first().json;\nconst brandName = prevData.brand_name;\nconst mentions = prevData.mentions || [];\n\nlet codes = [];\ntry {\n  const raw = openaiResponse.choices[0].message.content.trim();\n  codes = raw.split(',').map(s => s.trim().toUpperCase());\n} catch(e) {\n  codes = [];\n}\n\nconst sentimentMap = { 'P': 'Positive', 'N': 'Negative', 'U': 'Neutral' };\n\n// Filter out irrelevant mentions (I-prefixed) and attach sentiment\nconst relevant = [];\nfor (let i = 0; i < mentions.length; i++) {\n  const code = codes[i] || 'RU';\n  const isRelevant = !code.startsWith('I');\n  if (isRelevant) {\n    const sentCode = code.length === 2 ? code[1] : code[0];\n    relevant.push({ ...mentions[i], sentiment: sentimentMap[sentCode] || 'Neutral' });\n  }\n}\n\nreturn [{ json: { brand_name: brandName, mentions: relevant } }];"
      },
      "id": "parse-sentiment",
      "name": "Parse Sentiment Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2750, 400]
    },
    {
      "parameters": {
        "jsCode": "// Build WOW Insights prompt from ALL mentions\nconst item = $input.first().json;\nconst brandName = item.brand_name;\nconst mentions = item.mentions || [];\n\nconst negative = mentions.filter(m => m.sentiment === 'Negative' || m.sentiment === 'Neutral');\nconst positive = mentions.filter(m => m.sentiment === 'Positive');\n\nconst negList = negative.slice(0, 20).map((m, i) => `${i+1}. [${m.sentiment}] ${m.title} — ${(m.snippet || '').substring(0, 120)}`).join('\\n');\nconst posList = positive.slice(0, 15).map((m, i) => `${i+1}. ${m.title} — ${(m.snippet || '').substring(0, 120)}`).join('\\n');\n\nconst insightsPrompt = `You are a brand strategist analyzing mentions about \"${brandName}\".\\n\\nNEGATIVE/NEUTRAL MENTIONS:\\n${negList || 'None found'}\\n\\nPOSITIVE MENTIONS:\\n${posList || 'None found'}\\n\\nProvide:\\nA) LIKES: 3-5 things customers already like about the brand\\nB) COMPLAINTS: 3-5 specific pain points customers mention\\nC) SUGGESTIONS: 3-5 concrete actionable steps to improve\\n\\nReply ONLY in this exact JSON format:\\n{\"likes\":[\"like 1\",\"like 2\"],\"complaints\":[\"complaint 1\",\"complaint 2\"],\"suggestions\":[\"suggestion 1\",\"suggestion 2\"]}`;\n\nreturn [{ json: { brand_name: brandName, mentions: mentions, insights_prompt: insightsPrompt } }];"
      },
      "id": "prep-insights",
      "name": "Prep WOW Insights",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3000, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer OPENAI_API_KEY_HERE" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'gpt-4o-mini', messages: [{ role: 'system', content: 'You are a brand strategist. Respond ONLY with valid JSON, no markdown, no extra text.' }, { role: 'user', content: $json.insights_prompt }], max_tokens: 500, temperature: 0.3 }) }}",
        "options": { "timeout": 30000 }
      },
      "id": "openai-insights",
      "name": "OpenAI WOW Insights",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3250, 400],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Parse WOW Insights and build final aggregated output\nconst insightsResponse = $input.first().json;\nconst prevData = $('Prep WOW Insights').first().json;\nconst brandName = prevData.brand_name;\nconst mentions = prevData.mentions || [];\nconst total = mentions.length;\n\n// Parse insights\nlet wowInsights = { likes: [], complaints: [], suggestions: [] };\ntry {\n  let raw = insightsResponse.choices[0].message.content.trim();\n  // Remove markdown code fences if present\n  raw = raw.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  wowInsights = JSON.parse(raw);\n} catch(e) {\n  wowInsights = { likes: ['Unable to parse insights'], complaints: ['Unable to parse insights'], suggestions: ['Try tracking again'] };\n}\n\n// Platform breakdown\nconst platCounts = {};\nfor (const m of mentions) {\n  platCounts[m.platform] = (platCounts[m.platform] || 0) + 1;\n}\nconst platform_breakdown = {};\nfor (const [k, v] of Object.entries(platCounts)) {\n  platform_breakdown[k] = { count: v, percentage: total > 0 ? Math.round((v / total) * 10000) / 100 : 0 };\n}\n\n// Sentiment breakdown\nconst sentCounts = { Positive: 0, Negative: 0, Neutral: 0 };\nfor (const m of mentions) sentCounts[m.sentiment || 'Neutral']++;\nconst sentiment_breakdown = {};\nfor (const [k, v] of Object.entries(sentCounts)) {\n  sentiment_breakdown[k] = { count: v, percentage: total > 0 ? Math.round((v / total) * 10000) / 100 : 0 };\n}\n\n// Sentiment by platform\nconst sentiment_by_platform = {};\nfor (const m of mentions) {\n  const p = m.platform || 'Other';\n  if (!sentiment_by_platform[p]) sentiment_by_platform[p] = { Positive: 0, Negative: 0, Neutral: 0 };\n  sentiment_by_platform[p][m.sentiment || 'Neutral']++;\n}\n\n// Score + top 5\nconst scored = mentions.map(m => {\n  let score = (m.upvotes || 0) * 2 + (m.num_comments || 0);\n  score += (m.snippet || '').length > 100 ? 10 : 5;\n  if (['Trustpilot', 'G2', 'Glassdoor', 'Product Hunt'].includes(m.platform)) score += 15;\n  if (m.platform === 'Reddit') score += 5;\n  if (m.sentiment === 'Negative') score += 8;\n  return { ...m, relevance_score: score };\n}).sort((a, b) => b.relevance_score - a.relevance_score);\n\nconst top_mentions = scored.slice(0, 5).map(m => ({\n  title: m.title, link: m.link, platform: m.platform, sentiment: m.sentiment,\n  snippet: (m.snippet || '').substring(0, 200),\n  upvotes: m.upvotes || null, num_comments: m.num_comments || null,\n  subreddit: m.subreddit || null, relevance_score: m.relevance_score, date: m.date || null\n}));\n\nreturn [{ json: {\n  brand_name: brandName,\n  tracked_at: new Date().toISOString(),\n  total_mentions: total,\n  platform_breakdown,\n  sentiment_breakdown,\n  sentiment_by_platform,\n  wow_insights: wowInsights,\n  negative_sources: scored.filter(m => m.sentiment === 'Negative').slice(0, 10).map(m => ({ title: m.title, link: m.link, platform: m.platform, snippet: (m.snippet || '').substring(0, 100) })),\n  top_mentions,\n  all_mentions: scored.map(m => ({\n    title: m.title, link: m.link, platform: m.platform, sentiment: m.sentiment,\n    snippet: (m.snippet || '').substring(0, 200),\n    upvotes: m.upvotes || null, subreddit: m.subreddit || null,\n    date: m.date || null, relevance_score: m.relevance_score\n  }))\n}}];"
      },
      "id": "aggregate",
      "name": "Aggregate & Build Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3500, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Generate Search Queries", "type": "main", "index": 0 }]]
    },
    "Generate Search Queries": {
      "main": [[{ "node": "Loop Over Queries", "type": "main", "index": 0 }]]
    },
    "Loop Over Queries": {
      "main": [
        [{ "node": "Collect Google Results", "type": "main", "index": 0 }],
        [{ "node": "Serper Google Search", "type": "main", "index": 0 }]
      ]
    },
    "Serper Google Search": {
      "main": [[{ "node": "Extract Google Results", "type": "main", "index": 0 }]]
    },
    "Extract Google Results": {
      "main": [[{ "node": "Loop Over Queries", "type": "main", "index": 0 }]]
    },
    "Collect Google Results": {
      "main": [[{ "node": "Prep for Reddit", "type": "main", "index": 0 }]]
    },
    "Prep for Reddit": {
      "main": [[{ "node": "Reddit Search", "type": "main", "index": 0 }]]
    },
    "Reddit Search": {
      "main": [[{ "node": "Merge, Dedup & Platforms", "type": "main", "index": 0 }]]
    },
    "Merge, Dedup & Platforms": {
      "main": [[{ "node": "Prep Batch Sentiment", "type": "main", "index": 0 }]]
    },
    "Prep Batch Sentiment": {
      "main": [[{ "node": "OpenAI Batch Sentiment", "type": "main", "index": 0 }]]
    },
    "OpenAI Batch Sentiment": {
      "main": [[{ "node": "Parse Sentiment Results", "type": "main", "index": 0 }]]
    },
    "Parse Sentiment Results": {
      "main": [[{ "node": "Prep WOW Insights", "type": "main", "index": 0 }]]
    },
    "Prep WOW Insights": {
      "main": [[{ "node": "OpenAI WOW Insights", "type": "main", "index": 0 }]]
    },
    "OpenAI WOW Insights": {
      "main": [[{ "node": "Aggregate & Build Output", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [{ "name": "Brand Monitoring" }],
  "pinData": {},
  "versionId": "5"
}
